@import '../css/typography.css';

body {
  font-family: 'PixelMplus10 Regular', georgia, serif;
  font-weight: normal;
  background-color: #224;
  color: #ff6;
  width: 788px;
  margin: 0 auto;
  overscroll-behavior: none;
}
