@import './typography.css';

body {
  font-family: 'PixelMplus10 Regular', georgia, serif;
  font-weight: normal;
  background-color: #224;
  color: #ff6;
  margin: 0;
  overscroll-behavior: none;
}

button,
select,
input,
option {
  font-family: inherit;
  font-size: inherit;
}
